# Python
__pycache__/
*.py[cod]
*.egg-info/
*.pyc
#the above .pyc is so that the cache files are not tracked.


# Virtual environments
venv/
.venv/
env/

# Django
db.sqlite3
*.log

# IDE / editor
.idea/
.vscode/

# OS
.DS_Store
