<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <title> Generalizing maps </title>
    <meta name = "viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">

    <!-- leaflet scripts and css -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet-polylinedecorator@1.6.0/dist/leaflet.polylineDecorator.min.js"></script>


    <!-- Leaflet easy button -->
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.css">
    <script src="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.js"></script>

    <!-- Leaflet geosearch -->
    <link  href="https://unpkg.com/leaflet-geosearch@latest/assets/css/leaflet.css" rel="stylesheet" />
   <!-- <script src="https://unpkg.com/leaflet-geosearch@latest/dist/bundle.min.js"></script>-->



    <link rel="stylesheet" href="https://unpkg.com/@geoman-io/leaflet-geoman-free@2.18.3/dist/leaflet-geoman.css">
    <script src="https://unpkg.com/@geoman-io/leaflet-geoman-free@2.18.3/dist/leaflet-geoman.min.js"></script>





    <!-- shapefile-->
    <script src="https://unpkg.com/shpjs@latest/dist/shp.js"></script>

    <!--geojson-->
    <script type="text/javascript" src ="{% static '//js/leaflet.ajax.min.js' %}" ></script>

    <script type="text/javascript" src ="{% static '//js/L.Path.Transform.js' %}" ></script>
    <!--turf for geospatial computation -->
    <script src="https://cdn.jsdelivr.net/npm/@turf/turf@7/turf.min.js"></script>


    <!-- jQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src ="{% static '//js/cookie.js' %}" ></script>


  <!-- Font awesome -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js" crossorigin="anonymous"></script>

    <script type="text/javascript" src ="{% static '//js/underscore-min.js' %}" ></script>

    <!--hull -->
    <script type="text/javascript" src ="{% static '//js/hull.js' %}" ></script>

    <link rel = "stylesheet" href="{% static '//css/icommon.css' %}">
    <link rel = "stylesheet" href="{% static '//css/owl_carousel.css' %}">


    <!-- Bootstrap -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
     <link rel="stylesheet" href="{% static '//css/bootstrap.min.css' %}">
     <script  type="text/javascript" src="{% static '//js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src ="{% static '//js/jszip.min.js' %}" ></script>
    <script src ="https://cdnjs.cloudflare.com/ajax/libs/pako/2.0.4/pako.min.js" ></script>
    <script src ="https://cdn.jsdelivr.net/npm/zlibjs@0.3.1/bin/zlib.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.js"></script>

    <link rel = "stylesheet" href="{% static '//css/checkbox.css' %}">

      <!-- custom styles -->
    <link rel = "stylesheet" href="{% static '//css/main.css' %}">
     <link rel = "stylesheet" href="{% static '//css/imagesloader.css' %}">
     <script type="text/javascript" src ="{% static '//js/imagesloader.js' %}" ></script>

     
</head>
<body >
{% csrf_token %}
<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Navbar brand -->
    <h1><a style="color:#7AB629">SketchMapia</a></h1>

</nav>
<!--/.Navbar-->


<div id ="basemapholder" style="float: left; width: 50%; height: 90%;border-radius:5px">
    <div id="basemapmenu">
          <div class="menu-container">
        <p class="menu-title" onclick="toggleMenu('filemenuoptions')">File <i class="fas fa-angle-down"></i></p>
        <ul id="filemenuoptions" class="menu-options">
            <li>
                <label for="upload" style="border:0px; cursor:pointer;">Upload Project</label>
                <input id="upload" type="file" accept=".geojson,.json" multiple="multiple" onchange="uploadProject()" style="display:none;" />
            </li>
            <li onclick="downloadProject()">Download Project</li>
        </ul>
    </div>

    <div class="menu-container">
        <p class="menu-title" onclick="toggleMenu('editmenuoptions')">Edit <i class="fas fa-angle-down"></i></p>
        <ul id="editmenuoptions" class="menu-options">
            <li id="drawBM">Mark/Edit Basemap</li>
            <li id="saveBM">Save Basemap</li>
            <li id="drawSM">Mark/Edit Sketchmap</li>
            <li id="saveSM">Save Sketchmap</li>
        </ul>
    </div>

    <div class ="menu-container">
        <p class="menu-title" onclick="openAnalyseModal()">Analyse<i class = "fas fa-angle-down"></i></p> 
    </div>
</div>

    <div id="loadbasemap">
        <label for="fromfile" class="btn btn-outline-secondary" style="font-weight:800;">Upload Base Map</label>
        <input id="fromfile" style="display:none;" type="file" accept="image/jpeg, image/png, image/gif," onchange= "loadFromImage()"  />

        <!--<div class="break"></div>
        <label>OR</label>
        <div class="break"></div>

        <button id="fromOSM" class="btn btn-outline-secondary" style="font-weight:800;">Load Basemap from OSM</button> -->
    </div>
    <div style="z-index:1000;display:none; float: left; width: 100%; height: 100%;border-radius:5px" id="imagemap"></div>
    </div>

<div class="vl" style="z-index:1000000"><button class="oval-button" id="alignbutton">ALIGN</button></div>


    <div id="sketchmapplaceholder" style="float: right; width: 50%; height: 90%;border-radius:5px;text-align: center">
        <div style="height: 100%; width: 100%;overflow-y:scroll;overflow-x:hidden;">
<div class="window" style="position:relative;pointer-events:none;">
      <div style="float: right; width: 100%; height: 100%;border-radius:5px; position: absolute;top:13px;pointer-events:all" id="sketchimagemap"></div>
<input type="checkbox" id="slider" class="toggle">
  <label for="slider" style="font-size:xx-small;pointer-events:all;position:fixed;width:50%;top:72px;z-index:10000"><i class="fas fa-angle-double-down" > </i></label>
  <div style="pointer-events:all;position:relative;z-index:1000;background:white">
     <form id="frm" method="post" class="needs-validation">
  <!--Image container -->
  <div id = "SMholder" class="row" style="margin:auto"
    data-type="imagesloader"
    data-errorformat="Accepted file formats"
    data-errorsize="Maximum size accepted"
    data-errorduplicate="File already loaded"
    data-errormaxfiles="Maximum number of images you can upload"
    data-errorminfiles="Minimum number of images to upload"
    data-modifyimagetext="Modify image">
      <!-- Progress bar -->
    <div class="col-12 order-1 mt-2">
      <div data-type="progress" class="progress" style="height: 25px; display:none;">
        <div data-type="progressBar" class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 100%;">Load in progress...</div>
      </div>
    </div>
    <!-- Model -->
    <div data-type="image-model" class="col-4 pl-2 pr-2 pt-2" style="width:100%; display:none;">
      <div class="ratio-box text-center" data-type="image-ratio-box">
        <div data-type="loading" class="img-loading" style="color:#218838; display:none;">
          <span class="fa fa-2x fa-spin fa-spinner"></span>
        </div>
        <img data-type="preview" class="thumbnail btn btn-light ratio-img img-fluid p-2 image border dashed rounded" src="" style="display: none; cursor: default;">
      </div>

    </div>
  </div>
   <div data-type="image-buttons" style="position:relative;width:200px;margin:auto;top:-100px">
       <img data-type="noimage" id ="imgupload" class="btn btn-light ratio-img img-fluid p-2 image border dashed rounded" style="cursor:pointer;height:150px;object-fit:contain" src="{% static '//img/upload.png' %}">
        <button id ="uploadProject" data-type="add" class="btn btn-outline-secondary" style="position:relative;top:170px" type="button" ><span class="fa fa-camera mr-2"></span>Upload sketchmaps</button>
      </div>


  <div class="form-group row">
    <div class="input-group">
      <!--Hidden file input for images-->
      <input id="files" type="file" name="files[]" data-button="" multiple="" accept="image/jpeg, image/png, image/gif," style="display:none;">
    </div>
  </div>
</form>
  </div>
</div>

        </div>

    </div>


        {% include "results.html" %}

    <div id="myModal" class="modal">

        <div id="modalHeader" class="modal-header">
            <span>Validation check has identified the following issues</span>
        </div>
         <button id="closeModalBtn" class="modal-close">&times;</button>
        <div class="modal-content">
            <span>Segments that have not been snapped.</span>
            <div id="snapList"> </div>
            <span>Segments that require merging.</span>
            <div id="mergeList"></div>
        </div>
        <div class="modal-footer">
            <button id="modalSubmitBtn">Submit</button>
        </div>

    </div>

<div id="alignmentModal" class="modal">

      <span id="closeAlignmentModal">&times;</span>

      <h3>Alignment Conflict</h3>

      <div id="alignmentConflictList"></div>

      <button id="keepNewBtn" class="btn btn-secondary">
          Keep New Alignment
      </button>

      <button id="keepOldBtn" class="btn btn-secondary">
          Keep Existing Alignment
      </button>

      <button id="mergeAlignmentBtn" class="btn btn-secondary">
          Merge Alignments
      </button>


</div>

<div id="connectivityModal" class="modal" style="display:none;">

        <div class="modal-header">
            <h5>
                <i class="fa-solid fa-triangle-exclamation"></i>
                Connectivity Validation
            </h5>
            <button id="connectivityCloseBtn">&times;</button>
        </div>

        <div class="modal-body">

            <div class="validation-summary">
                The selected features do not have matching connectivity.
            </div>

            <div class="connectivity-grid">

                <div class="connectivity-card">
                    <h6>Base Map</h6>
                    <div id="baseConnectivityStatus"></div>
                </div>

                <div class="connectivity-card">
                    <h6>Sketch Map</h6>
                    <div id="sketchConnectivityStatus"></div>
                </div>

            </div>



        </div>

        <div class="modal-footer">
            <button id="connectivityCancelBtn"
                    class="btn btn-secondary">
                Review Selection
            </button>

            <button id="connectivityContinueBtn"
                    class="btn btn-warning">
                Continue Anyway
            </button>
        </div>

</div>



    <script type="text/javascript" src ="{% static '//js/leaflet.shpfile.js' %}" ></script>
    <script type="text/javascript" src ="{% static '//js/Leaflet.interactive.js' %}" ></script>
    <script type="text/javascript" src ="{% static '//js/map.js' %}" ></script>
    <script type="text/javascript" src ="{% static '//js/modules/uploadproject.js' %}" ></script>
    <script type="text/javascript" src ="{% static '//js/sketchMap_sma_script.js' %}" ></script>
    <script type="text/javascript" src ="{% static '//js/sketchmapeditor.js' %}" ></script>
    <script type="text/javascript" src ="{% static '//js/project.js' %}" ></script>


    <!-- Analyse Modal -->
    <div id="analyseModal" class="modal-overlay" style="display:none;">
        <div class="modal-box">
            <h3>Select Analysis Options</h3>
            
            <label class="modal-option disabled-option">
                <input type="checkbox" id="chkCompleteness" checked disabled>
                Completeness (always included)
            </label>
            <label class="modal-option disabled-option">
                <input type="checkbox" id="chkCompleteness" checked disabled>
                Generalizations (always included)
            </label>

            <h4>Qualitative Analysis</h4>
            <div class="modal-option-row">
                <label class="modal-option" style="flex:1;">
                    <input type="checkbox" id="chkAccuracy">
                    Spatial Accuracy
                </label>
                <span class = "show-more-toggle" onclick="toggleShowMore()">
                    <span id="showMoreArrow">▸</span>
                    Show more
                </span>
            </div>
            <div id="showMoreOptions" class="show-more-panel">
                <label class="modal-option disabled-option">
                    <input type="checkbox" id="chkPrecision" disabled>
                    Precision
                    <span class ="coming-soon">(coming soon)</span>
                </label>
                <label class="modal-option disabled-option">
                    <input type="checkbox" id="chkRecall" disabled>
                    Recall
                    <span class="coming-soon">(coming soon)</span>
                </label>
                <label class="modal-option disabled-option">
                    <input type="checkbox" id="chkBuildTopo" disabled>
                    Building Topology (RCC8)
                    <span class="coming-soon">(coming soon)</span>
                </label>
                <label class="modal-option disabled-option">
                    <input type="checkbox" id="chkStBuildTopo" disabled>
                    Street-Building Topology (DE9IM)
                    <span class="coming-soon">(coming soon)</span>
                </label>
                <label class="modal-option disabled-option">
                    <input type="checkbox"  id="chkStOrient" disabled>
                    Street Orientation (OPRA)
                    <span class="coming-soon">(coming soon)</span>
                </label>
                <label class="modal-option disabled-option">
                    <input type="checkbox" id="chkStConnect" disabled>
                    Street Connectedness
                    <span class="coming-soon">(coming soon)</span>
                </label>
                <label class="modal-option disabled-option">
                    <input type="checkbox" id="chkBuildLR" disabled>
                    Building Route Left-Right
                    <span class="coming-soon">(coming soon)</span>
                </label>
                <label class="modal-option disabled-option">
                    <input type="checkbox" id="chkBuildRouteLO" disabled>
                    Building Route Linear Ordering
                    <span class="coming-soon">(coming soon)</span>
                </label>
            </div>
            



            <h4>Quantitative Analysis</h4>
            <h5>1. GMDA (Gardony Map Drawing Analyzer)</h5>
            <div class="modal-option-row">
                <label class="modal-option">
                    <input type="checkbox" id="chkBuildingsGMDA">
                    Calculate GMDA for Buildings
                </label>
                <span class = "show-more-toggle" onclick="toggleShowMoreGMDA()">
                    <span id="showMoreArrowGMDA">▸</span>
                    Show more
                </span>
            </div>
            <div id="showMoreOptionsGMDA" class="show-more-panel">
                <label class="modal-option disabled-option">
                    <input type="checkbox" id="chkCanOrg" disabled>
                    Canonical Organisation (CanOrg)
                    <span class ="coming-soon">(coming soon)</span>
                </label>
                <label class="modal-option disabled-option">
                    <input type="checkbox" id="chkCanAcc" disabled>
                    Canonical Accuracy (CanAcc)
                    <span class="coming-soon">(coming soon)</span>
                </label>
                <label class="modal-option disabled-option">
                    <input type="checkbox" id="chkScaBias" disabled>
                    Scaling Bias (ScaBias)
                    <span class="coming-soon">(coming soon)</span>
                </label>
                <label class="modal-option disabled-option">
                    <input type="checkbox" id="chkDistAcc" disabled>
                    Distance Accuracy (DistAcc)
                    <span class="coming-soon">(coming soon)</span>
                </label>
                <label class="modal-option disabled-option">
                    <input type="checkbox"  id="chkRotBias" disabled>
                    Rotational Bias (RotBias)
                    <span class="coming-soon">(coming soon)</span>
                </label>
                <label class="modal-option disabled-option">
                    <input type="checkbox" id="chkAngAcc" disabled>
                    Angular Accuracy (AngAcc)
                    <span class="coming-soon">(coming soon)</span>
                </label>
            </div>
            <div class="modal-option-row">
                <label class="modal-option">
                    <input type="checkbox" id = "chkJunctionsGMDA">
                    Calculate GMDA for Junctions
                </label>
                <span class = "show-more-toggle" onclick="toggleShowMoreJuncGMDA()">
                    <span id="showMoreArrowJuncGMDA">▸</span>
                    Show more
                </span>
            </div>
            <div id="showMoreOptionsJunctionsGMDA" class="show-more-panel">
                <label class="modal-option disabled-option">
                    <input type="checkbox" id="chkJuncCanOrg" disabled>
                    Canonical Organisation (CanOrg)
                    <span class ="coming-soon">(coming soon)</span>
                </label>
                <label class="modal-option disabled-option">
                    <input type="checkbox" id="chkJuncCanAcc" disabled>
                    Canonical Accuracy (CanAcc)
                    <span class="coming-soon">(coming soon)</span>
                </label>
                <label class="modal-option disabled-option">
                    <input type="checkbox" id="chkJuncScaBias" disabled>
                    Scaling Bias (ScaBias)
                    <span class="coming-soon">(coming soon)</span>
                </label>
                <label class="modal-option disabled-option">
                    <input type="checkbox" id="chkJuncDistAcc" disabled>
                    Distance Accuracy (DistAcc)
                    <span class="coming-soon">(coming soon)</span>
                </label>
                <label class="modal-option disabled-option">
                    <input type="checkbox"  id="chkJuncRotBias" disabled>
                    Rotational Bias (RotBias)
                    <span class="coming-soon">(coming soon)</span>
                </label>
                <label class="modal-option disabled-option">
                    <input type="checkbox" id="chkJuncAngAcc" disabled>
                    Angular Accuracy (AngAcc)
                    <span class="coming-soon">(coming soon)</span>
                </label>
            </div>

            <h5>2. BDR (Bi-Dimensional Regression)</h5>
            <div class="modal-option-row">
                <label class="modal-option">
                    <input type="checkbox" id="chkLandmarksBDR">
                    Calculate BDR for Buildings
                </label>
                <span class = "show-more-toggle" onclick="toggleShowMoreBDR()">
                    <span id="showMoreArrowBDR">▸</span>
                    Show More
                </span>
            </div>
            <div id="showMoreOptionsBDR" class="show-more-panel">
                <label class="modal-option disabled-option">
                    <input type="checkbox"  id="chkr" disabled>
                    Correlation (r)
                    <span class="coming-soon">(coming soon)</span>
                </label>
                <label class="modal-option disabled-option">
                    <input type="checkbox"  id="chkDI" disabled>
                    Distortion Index (DI)
                    <span class="coming-soon">(coming soon)</span>
                </label>
                <label class="modal-option disabled-option">
                    <input type="checkbox"  id="chkphi" disabled>
                    Scale Factor (phi)
                    <span class="coming-soon">(coming soon)</span>
                </label>
                <label class="modal-option disabled-option">
                    <input type="checkbox"  id="chktheta" disabled>
                    Rotation (theta)
                    <span class="coming-soon">(coming soon)</span>
                </label>
                <label class="modal-option disabled-option">
                    <input type="checkbox"  id="chkalpha1" disabled>
                    X-Shift (alpha 1)
                    <span class="coming-soon">(coming soon)</span>
                </label>
                <label class="modal-option disabled-option">
                    <input type="checkbox"  id="chkalpha2" disabled>
                    Y-Shift (alpha 2)
                    <span class="coming-soon">(coming soon)</span>
                </label>
            </div>
            
            
            <div class="modal-option-row">
                <label class="modal-option">
                    <input type="checkbox" id="chkJunctionsBDR">
                    Calculate BDR for Junctions
                </label>
                <span class="show-more-toggle" onclick="toggleShowMoreJuncsBDR()">
                    <span id="showMoreArrowJuncsBDR">▸</span>
                    Show More
                </span>
            </div>
            <div id="showMoreOptionsJuncsBDR" class="show-more-panel">
                <label class="modal-option disabled-option">
                    <input type="checkbox"  id="chkJuncsr" disabled>
                    Correlation (r)
                    <span class="coming-soon">(coming soon)</span>
                </label>
                <label class="modal-option disabled-option">
                    <input type="checkbox"  id="chkJuncsDI" disabled>
                    Distortion Index (DI)
                    <span class="coming-soon">(coming soon)</span>
                </label>
                <label class="modal-option disabled-option">
                    <input type="checkbox"  id="chkJuncsphi" disabled>
                    Scale Factor (phi)
                    <span class="coming-soon">(coming soon)</span>
                </label>
                <label class="modal-option disabled-option">
                    <input type="checkbox"  id="chkJuncstheta" disabled>
                    Rotation (theta)
                    <span class="coming-soon">(coming soon)</span>
                </label>
                <label class="modal-option disabled-option">
                    <input type="checkbox"  id="chkJuncsalpha1" disabled>
                    X-Shift (alpha 1)
                    <span class="coming-soon">(coming soon)</span>
                </label>
                <label class="modal-option disabled-option">
                    <input type="checkbox"  id="chkJuncsalpha2" disabled>
                    Y-Shift (alpha 2)
                    <span class="coming-soon">(coming soon)</span>
                </label>
            </div>

            <div class="modal-actions">

                <button onclick="runAnalysis()">Run Analysis</button>
                <button onclick="closeAnalyseModal()">Cancel</button>
            </div>

        </div>

    </div>

    <div style="position:fixed;bottom:6px;right:10px;z-index:9999;font-size:11px;font-family:monospace;color:#555;background:rgba(255,255,255,0.8);padding:2px 8px;border-radius:10px;box-shadow:0 1px 3px rgba(0,0,0,0.15);" title="Deployed build">
        {% if APP_VERSION %}
            <a href="{{ VERSION_URL }}" target="_blank" rel="noopener noreferrer" style="color:inherit;text-decoration:none;">
                {{ APP_VERSION }}{% if GIT_COMMIT_DATE %} &middot; {{ GIT_COMMIT_DATE }}{% endif %}
            </a>
        {% else %}
            dev build
        {% endif %}
    </div>

</body>
</html>
